// header03
header.header_03
	.headerWrap
		.visualBg
			ul#header_03_banner.banner(data-pager='true')
				li
					picture.picture
						source(srcset='img/header/h_03/tb/01.jpg', media='(min-width: 768px) and (max-width: 1023px)')
						source(srcset='img/header/h_03/pc/01.jpg', media='(min-width: 1024px)')
						img(src='img/header/h_03/m/01.jpg', alt='picture01')
				li
					picture.picture
						source(srcset='img/header/h_03/tb/02.jpg', media='(min-width: 768px) and (max-width: 1023px)')
						source(srcset='img/header/h_03/pc/02.jpg', media='(min-width: 1024px)')
						img(src='img/header/h_03/m/02.jpg', alt='picture02')
			.bannerCover
			.bannerTitle
			.iconWrap
				.scrollIcon
					.circle
					.arrow
						svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink" x="0px", y="0px", viewBox="0 0 80 80", style="enable-background:new 0 0 80 80;", xml:space="preserve")
							g
								polyline(class="st0" points="78.5,24.6 40,54.8 2.1,24.6 ")
			.source 
		.detail
			.detailWrap
				.txtBg
				.txtInner
					.txtWrap
						.txtWidth.wow.custom_fadeinup(data-wow-offset='50')
							.quote
								svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 27 24", style="enable-background:new 0 0 27 24;", xml:space="preserve")
									g
										path(class="st0", d="M7.8,0l5,3.6c-2.6,4.3-4,8.8-4.1,13.5V24H0v-5.8c0-3.4,0.7-6.7,2.2-10.1C3.7,4.8,5.5,2.1,7.8,0z M22,0l5,3.6c-2.6,4.3-4,8.8-4.1,13.5V24h-8.7v-5.8c0-3.4,0.7-6.7,2.2-10.1C17.8,4.8,19.7,2.1,22,0z")
							.txt(data-dotdotdot='true') 「恭喜恭喜，你終於可以一個人過情人節了！」每年為了給對方驚喜，花錢又傷腦，情人節這天，我就是想跟姊妹吃下午茶、我就是想跟兄弟在家喝酒、我就是想跟寵物在家耍廢！一個人又怎樣？我把自己活得更漂亮！JUKSY 本月主題：《我單故我在》，單身的你，自己才真正存在！
					a.link(href='https://www.juksy.com/archives/62225', target='_blank')
						.linkWrap
							span.ch 馬上閱讀
							span.ch.arrow →
// header03 end