// gallery01
section.gallery_01(data-menu='true')
	.layoutWrap
		h2.title PHOTOGRAPHY
		.detail 拍攝現場直擊
		.subTitleWrap
			p.subTitle 
	ul#gallery_01_slider.slider
		li(data-thumb='img/gallery/g_01/thumb-13.jpg', data-src='img/gallery/g_01/05.png')
			.img
				img(src='img/gallery/g_01/13.jpg', data-width='1500', data-height='2250')
			.txt
				span
		li(data-thumb='img/gallery/g_01/thumb-12.jpg', data-src='img/gallery/g_01/05.png')
			.img
				img(src='img/gallery/g_01/12.jpg', data-width='1500', data-height='1000')
			.txt
				span
		li(data-thumb='img/gallery/g_01/thumb-01.jpg', data-src='img/gallery/g_01/01.png')
			.img
				img(src='img/gallery/g_01/01.jpg', data-width='1500', data-height='2250')
			.txt
				span
		li(data-thumb='img/gallery/g_01/thumb-02.jpg', data-src='img/gallery/g_01/02.png')
			.img
				img(src='img/gallery/g_01/02.jpg', data-width='1500', data-height='2250')
			.txt
				span
		li(data-thumb='img/gallery/g_01/thumb-03.jpg', data-src='img/gallery/g_01/03.png')
			.img
				img(src='img/gallery/g_01/03.jpg', data-width='1500', data-height='2250')
			.txt
				span
		li(data-thumb='img/gallery/g_01/thumb-04.jpg', data-src='img/gallery/g_01/04.png')
			.img
				img(src='img/gallery/g_01/04.jpg', data-width='1500', data-height='2250')
			.txt
				span
		li(data-thumb='img/gallery/g_01/thumb-05.jpg', data-src='img/gallery/g_01/05.png')
			.img
				img(src='img/gallery/g_01/05.jpg', data-width='1500', data-height='1000')
			.txt
				span
		li(data-thumb='img/gallery/g_01/thumb-06.jpg', data-src='img/gallery/g_01/01.png')
			.img
				img(src='img/gallery/g_01/06.jpg', data-width='1500', data-height='2250')
			.txt
				span
		li(data-thumb='img/gallery/g_01/thumb-07.jpg', data-src='img/gallery/g_01/02.png')
			.img
				img(src='img/gallery/g_01/07.jpg', data-width='1500', data-height='2250')
			.txt
				span
		li(data-thumb='img/gallery/g_01/thumb-08.jpg', data-src='img/gallery/g_01/03.png')
			.img
				img(src='img/gallery/g_01/08.jpg', data-width='1500', data-height='1000')
			.txt
				span
		li(data-thumb='img/gallery/g_01/thumb-09.jpg', data-src='img/gallery/g_01/04.png')
			.img
				img(src='img/gallery/g_01/09.jpg', data-width='1500', data-height='1000')
			.txt
				span
		li(data-thumb='img/gallery/g_01/thumb-10.jpg', data-src='img/gallery/g_01/05.png')
			.img
				img(src='img/gallery/g_01/10.jpg', data-width='1500', data-height='2250')
			.txt
				span
		li(data-thumb='img/gallery/g_01/thumb-11.jpg', data-src='img/gallery/g_01/05.png')
			.img
				img(src='img/gallery/g_01/11.jpg', data-width='1500', data-height='2250')
			.txt
				span
// gallery01 end