// layout03_infinite
section.layout_03_infinit.layout_03(data-menu='true')
	.layoutWrap(data-tags='["反情人特輯"]',data-filter='[62218, 62225]')
		h2.title TOPIC
		.detail 反情人特輯
		.subTitleWrap
			p.subTitle 我單，故我在。誰說二月只能是春暖花開的浪漫情人月？一個人也能好好的看場電影，聽首好歌，欣賞周遭都是情侶的花海，讓我獨自享受一個人的慢步調
// layout03_infinite end