// layout05
section.layout_05(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.detail 2月焦點人物
		.subTitleWrap
			p.subTitle 
		ul.article
			li.wow.custom_fadeinup
				a.img.imgLoading(href='https://www.juksy.com/archives/62218', target='_blank', data-imgload='https://static.juksy.com/files/cover/62218/589a971f9fc89.png?m=resize&i=600x600&e=jpg&q=75')
					.linkWrap
						.linkBorder
							span.ch 馬上閱讀
							span.ch.arrow →
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/62218', target='_blank')
						h3 最帥老爸藍正龍，自爆最愛周幼婷「這件事」，卻坦言有時候也想和老婆「請假一下」！？
			li.wow.custom_fadeinup
				a.img.imgLoading(href='https://www.juksy.com/archives/62225', target='_blank', data-imgload='https://static.juksy.com/files/cover/62225/589a9789c52a4.png?m=resize&i=600x600&e=jpg&q=75')
					.linkWrap
						.linkBorder
							span.ch 馬上閱讀
							span.ch.arrow →
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/62225', target='_blank')
						h3 台灣 Style 超 MAN！藍正龍直接示範什麼叫做台式時尚
// layout05 end