// layout06
section.layout_06(data-menu='true')
	.layoutWrap(data-engtitle='FASHION', data-title='漂丿故我在', data-description='「硬派」可以是你的生活態度，亦或是時尚品味。小至銀飾戒指，大致皮靴大衣，以一種不羈又傲人的自我態度，展現你的硬派風格。', data-tags='["硬派流行", "球鞋"]',data-filter='[62218, 62225]')
// layout06 end